a:link, a:visited {
    text-decoration: none;
    color: #666;
}

.calendar-wrap {
	font-family: NanumGothic, sans-serif;
	color: #666;
	text-align: center;
}

.calendar-wrap .calendar-header {
	font-weight: bold;
	font-size: 24px;
}

.calendar-wrap table {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #CCC;
}

.calendar-wrap table th {
    width: 100px;
    padding: 10px;
    border-bottom: 1px solid #CCC;
    background: #efefef;
}

.calendar-wrap table td {
    width: 100px;
    height: 60px;
    padding: 10px;
    text-align: right;
    vertical-align: top;
    border-bottom: 1px solid #CCC;
}

.calendar-wrap tr>:first-child {
	color: #F77;
}

.calendar-wrap tr>:last-child {
	color: #77F;
}

.calendar-wrap .on {
	color: #599;
	font-weight: bold;
	background: #DEE;
}

.hide {
	display: none;
}
